# 라이브러리 로드

In [410]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
import warnings
import numpy as np 
import pandas as pd
import category_encoders as ce
warnings.filterwarnings('ignore')

# 데이터 로드

In [411]:
train = pd.read_csv("C:\project\datapre\.venv\Data Engineering\Data\kaggle_competition\\train.csv")
test = pd.read_csv("C:\project\datapre\.venv\Data Engineering\Data\kaggle_competition\\test.csv")
submission = pd.read_csv("C:\project\datapre\.venv\Data Engineering\Data\kaggle_competition\\submission.csv")

## train data

In [412]:
train.head()

,passengerid,survived,pclass,name,gender,age,sibsp,parch,ticket,fare,cabin,embarked
0,0,0,2,"Wheeler, Mr. Edwin Frederick""""",male,NaN,0,0,SC/PARIS 2159,12.8750,NaN,S
1,1,0,3,"Henry, Miss. Delia",female,NaN,0,0,382649,7.7500,NaN,Q
2,2,1,1,"Hays, Mrs. Charles Melville (Clara Jennings Gr...",female,52.0,1,1,12749,93.5000,B69,S
3,3,1,3,"Andersson, Mr. August Edvard (""Wennerstrom"")",male,27.0,0,0,350043,7.7958,NaN,S
4,4,0,2,"Hold, Mr. Stephen",male,44.0,1,0,26707,26.0000,NaN,S

In [413]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 916 entries, 0 to 915
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   passengerid  916 non-null    int64
 1   survived     916 non-null    int64
 2   pclass       916 non-null    int64
 3   name         916 non-null    object
 4   gender       916 non-null    object
 5   age          736 non-null    float64
 6   sibsp        916 non-null    int64
 7   parch        916 non-null    int64
 8   ticket       916 non-null    object
 9   fare         916 non-null    float64
 10  cabin        198 non-null    object
 11  embarked     915 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 86.0+ KB

In [414]:
train.shape

(916, 12)

## test data

In [415]:
test.head()

,passengerid,pclass,name,gender,age,sibsp,parch,ticket,fare,cabin,embarked
0,916,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
1,917,2,"Pinsky, Mrs. (Rosa)",female,32.0,0,0,234604,13.0000,NaN,S
2,918,3,"McCarthy, Miss. Catherine Katie""""",female,NaN,0,0,383123,7.7500,NaN,Q
3,919,3,"Franklin, Mr. Charles (Charles Fardon)",male,NaN,0,0,SOTON/O.Q. 3101314,7.2500,NaN,S
4,920,1,"Wick, Mrs. George Dennick (Mary Hitchcock)",female,45.0,1,1,36928,164.8667,NaN,S

In [416]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 393 entries, 0 to 392
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   passengerid  393 non-null    int64
 1   pclass       393 non-null    int64
 2   name         393 non-null    object
 3   gender       393 non-null    object
 4   age          310 non-null    float64
 5   sibsp        393 non-null    int64
 6   parch        393 non-null    int64
 7   ticket       393 non-null    object
 8   fare         392 non-null    float64
 9   cabin        97 non-null     object
 10  embarked     392 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 33.9+ KB

In [417]:
test.shape

(393, 11)

## submission data

In [418]:
submission.head()

   passengerid  survived
0          916       0.5
1          917       0.5
2          918       0.5
3          919       0.5
4          920       0.5

In [419]:
submission.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 393 entries, 0 to 392
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   passengerid  393 non-null    int64
 1   survived     393 non-null    float64
dtypes: float64(1), int64(1)
memory usage: 6.3 KB

In [420]:
submission.shape

(393, 2)

# EDA // 기본 정보

In [421]:
o_train = pd.read_csv("C:\project\datapre\.venv\Data Engineering\Data\kaggle_competition\\train.csv")
o_test = pd.read_csv("C:\project\datapre\.venv\Data Engineering\Data\kaggle_competition\\test.csv")

In [422]:
age_mean = o_train['age'].mean()
fare_mean = o_train['fare'].mean()
cabin_mode = o_train['cabin'].mode().values[0]
embarked_mode = o_train['embarked'].mode().values[0]


age_mean, fare_mean, cabin_mode, embarked_mode

(29.69836956521739, 32.40271048034934, 'B57 B59 B63 B66', 'S')

In [423]:
o_train['age'].fillna(age_mean, inplace=True)
o_test['age'].fillna(age_mean, inplace=True)

o_train['fare'].fillna(fare_mean, inplace=True)
o_test['fare'].fillna(fare_mean, inplace=True)

o_train['cabin'].fillna(cabin_mode, inplace=True)
o_test['cabin'].fillna(cabin_mode, inplace=True)

o_train['embarked'].fillna(embarked_mode, inplace=True)
o_test['embarked'].fillna(embarked_mode, inplace=True)

o_train.isnull().sum().sum(), o_test.isnull().sum().sum()

(0, 0)

In [424]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 916 entries, 0 to 915
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   passengerid  916 non-null    int64
 1   survived     916 non-null    int64
 2   pclass       916 non-null    int64
 3   name         916 non-null    object
 4   gender       916 non-null    object
 5   age          736 non-null    float64
 6   sibsp        916 non-null    int64
 7   parch        916 non-null    int64
 8   ticket       916 non-null    object
 9   fare         916 non-null    float64
 10  cabin        198 non-null    object
 11  embarked     915 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 86.0+ KB

In [425]:
train.head(), test.head()

(   passengerid  survived  pclass  \
 0            0         0       2
 1            1         0       3
 2            2         1       1
 3            3         1       3
 4            4         0       2

                                                 name  gender   age  sibsp  \
 0                     Wheeler, Mr. Edwin Frederick""    male   NaN      0
 1                                 Henry, Miss. Delia  female   NaN      0
 2  Hays, Mrs. Charles Melville (Clara Jennings Gr...  female  52.0      1
 3       Andersson, Mr. August Edvard ("Wennerstrom")    male  27.0      0
 4                                  Hold, Mr. Stephen    male  44.0      1

    parch         ticket     fare cabin embarked
 0      0  SC/PARIS 2159  12.8750   NaN        S
 1      0         382649   7.7500   NaN        Q
 2      1          12749  93.5000   B69        S
 3      0         350043   7.7958   NaN        S
 4      0          26707  26.0000   NaN        S  ,
    passengerid  pclass                                        name  gender  \
 0          916       3                 McGowan, Miss. Anna "Annie"  female
 1          917       2                         Pinsky, Mrs. (Rosa)  female
 2          918       3           McCarthy, Miss. Catherine Katie""  female
 3          919       3      Franklin, Mr. Charles (Charles Fardon)    male
 4          920       1  Wick, Mrs. George Dennick (Mary Hitchcock)  female

     age  sibsp  parch              ticket      fare cabin embarked
 0  15.0      0      0              330923    8.0292   NaN        Q
 1  32.0      0      0              234604   13.0000   NaN        S
 2   NaN      0      0              383123    7.7500   NaN        Q
 3   NaN      0      0  SOTON/O.Q. 3101314    7.2500   NaN        S
 4  45.0      1      1               36928  164.8667   NaN        S  )

In [426]:
test.head()

,passengerid,pclass,name,gender,age,sibsp,parch,ticket,fare,cabin,embarked
0,916,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
1,917,2,"Pinsky, Mrs. (Rosa)",female,32.0,0,0,234604,13.0000,NaN,S
2,918,3,"McCarthy, Miss. Catherine Katie""""",female,NaN,0,0,383123,7.7500,NaN,Q
3,919,3,"Franklin, Mr. Charles (Charles Fardon)",male,NaN,0,0,SOTON/O.Q. 3101314,7.2500,NaN,S
4,920,1,"Wick, Mrs. George Dennick (Mary Hitchcock)",female,45.0,1,1,36928,164.8667,NaN,S

# Scaling

In [427]:
scaling_cols = ['age', 'fare']

x_tr = o_train[scaling_cols]
y_tr = o_train['survived']

x_te = o_test[scaling_cols]
x_tr.shape, y_tr.shape, train.shape, test.shape

((916, 2), (916,), (916, 12), (393, 11))

In [428]:
from sklearn.preprocessing import PowerTransformer
ptf = PowerTransformer()
#x_train_scaled = ptf.transform(x_tr)
#x_test_scaled = ptf.transform(x_te)

from sklearn.preprocessing import QuantileTransformer
qtf = QuantileTransformer()
#x_train_scaled = qtf.transform(x_tr)
#x_test_scaled = qtf.transform(x_te)

from sklearn.preprocessing import StandardScaler
std = StandardScaler()
#x_train_scaled = std.transform(x_tr)
#x_test_scaled = std.transform(x_te)

from sklearn.preprocessing import MinMaxScaler
mas = MinMaxScaler()
#x_train_scaled = mas.transform(x_tr)
#x_test_scaled = mas.transform(x_te)

from sklearn.preprocessing import RobustScaler
rbs = RobustScaler()
x_train_scaled = rbs.fit_transform(x_tr)
x_test_scaled = rbs.transform(x_te)

from sklearn.preprocessing import MaxAbsScaler
mas = MaxAbsScaler()
#x_train_scaled = mas.transform(x_tr)
#x_test_scaled = mas.transform(x_te)

In [429]:
x_tr=pd.DataFrame(x_train_scaled, columns=['age', 'fare']).reset_index(drop=True)
x_te=pd.DataFrame(x_test_scaled, columns=['age', 'fare']).reset_index(drop=True)
x_te.shape

(393, 2)

# Encoding

In [430]:
encoder = ce.OneHotEncoder(use_cat_names=True)
encoding_cols1 = ['pclass', 'gender', 'sibsp', 'parch', 'cabin', 'embarked']

x_tr2 = o_train[encoding_cols1]
x_te2 = o_test[encoding_cols1]

In [431]:
#from sklearn.preprocessing import LabelEncoder
#encoder = LabelEncoder()
#x_train_scaled['columns_encoded'] = encoder.fit_transform(x_train_scaled['column'])
#x_train_scaled.head()


#encoder = ce.TargetEncoder()
#df_encoded = encoder.fit_transform(df['Column'], df['O/P'])
#df['encoded'] = df_encoded['Column']
#df['Rank'] = df['encoded'].rank(method = 'dense', ascending = False)


#encoder = ce.OrdinalEncoder(cols = 'color')
#df_encoded=encoder.fit_transform(df)
#df_encoded.head()

In [432]:
encoder = ce.OneHotEncoder(use_cat_names=True)

enco_tr = pd.DataFrame()
enco_te = pd.DataFrame()

for col in x_tr2.columns:
  _enco = encoder.fit_transform(x_tr2[col].astype('category'))
  enco_tr = pd.concat([enco_tr, _enco], axis=1)

  _enco = encoder.transform(x_te2[col].astype('category'))
  enco_te = pd.concat([enco_te, _enco], axis=1)

print(f'{enco_tr.shape} / {enco_te.shape}')
enco_tr.columns

(916, 169) / (393, 169)

Index(['pclass_2.0', 'pclass_3.0', 'pclass_1.0', 'gender_male',
       'gender_female', 'sibsp_0.0', 'sibsp_1.0', 'sibsp_8.0', 'sibsp_5.0',
       'sibsp_3.0',
       ...
       'cabin_B5', 'cabin_C89', 'cabin_D11', 'cabin_C46', 'cabin_D22',
       'cabin_C132', 'cabin_D38', 'embarked_S', 'embarked_Q', 'embarked_C'],
      dtype='object', length=169)

In [433]:
x_tr2 = x_tr2.reset_index(drop=True)
x_te2 = x_te2.reset_index(drop=True)
enco_tr = enco_tr.reset_index(drop=True)
enco_te = enco_te.reset_index(drop=True)

x_tr2.shape, enco_tr.shape

((916, 6), (916, 169))

In [434]:
encoding_tr1 = pd.concat([x_tr2,enco_tr],axis=1).reset_index(drop=True)
encoding_te1 = pd.concat([x_te2,enco_te],axis=1).reset_index(drop=True)

print(f'{encoding_tr1.shape} / {encoding_te1.shape}')
encoding_tr1.columns

(916, 175) / (393, 175)

Index(['pclass', 'gender', 'sibsp', 'parch', 'cabin', 'embarked', 'pclass_2.0',
       'pclass_3.0', 'pclass_1.0', 'gender_male',
       ...
       'cabin_B5', 'cabin_C89', 'cabin_D11', 'cabin_C46', 'cabin_D22',
       'cabin_C132', 'cabin_D38', 'embarked_S', 'embarked_Q', 'embarked_C'],
      dtype='object', length=175)

# Scaling Enncoding DataFrame 합치기

In [435]:
df_tr = pd.concat([x_tr, encoding_tr1],axis=1).reset_index(drop=True)
df_te = pd.concat([x_te, encoding_te1],axis=1).reset_index(drop=True)
df_tr.drop(encoding_cols1, inplace=True, axis=1)
df_te.drop(encoding_cols1, inplace=True, axis=1)

df_tr.shape, df_te.shape

((916, 171), (393, 171))

In [436]:
y = o_train['survived']

# train_test_split

In [437]:
from sklearn.model_selection import train_test_split

X_tr, X_te, y_tr, y_te = train_test_split(df_tr, y, test_size=0.2, stratify=o_train['survived'], random_state=21)

In [438]:
X_tr.shape, X_te.shape, y_tr.shape, y_te.shape

((732, 171), (184, 171), (732,), (184,))

In [439]:
X_tr.isnull().sum().sum(), X_te.isnull().sum().sum(), df_te.isnull().sum().sum()

(0, 0, 0)

In [440]:
X_tr.shape, X_te.shape, y_tr.shape, y_te.shape

((732, 171), (184, 171), (732,), (184,))

In [441]:
x_tr.columns

Index(['age', 'fare'], dtype='object')

# Decision Tree Classifier

In [442]:
from sklearn.tree import DecisionTreeClassifier

dt = DecisionTreeClassifier(random_state=21)
dt.fit(X_tr, y_tr)

DecisionTreeClassifier(random_state=21)

# 점수확인

In [443]:
from sklearn.metrics import roc_curve, auc

In [444]:
pred = dt.predict_proba(X_te)[:, 1]

In [445]:
fpr, tpr, _ = roc_curve(y_te, pred)

In [446]:
auc(fpr, tpr)

0.7666666666666666

In [447]:
cols = df_te.columns

test = pd.concat([df_te, o_test['passengerid']],axis=1).reset_index(drop=True)
test.set_index(['passengerid'], inplace=True)

In [448]:
test_pred = dt.predict_proba(test)[:,1]
test_pred.shape

(393,)

# 결과 저장

In [449]:
# 변수명, 파일명 수정
submission = pd.read_csv("C:\project\datapre\.venv\Data Engineering\Data\kaggle_competition\\submission.csv")
submission['survived'] = test_pred

submission.head()

   passengerid  survived
0          916       1.0
1          917       1.0
2          918       1.0
3          919       0.0
4          920       1.0

In [450]:
submission.to_csv("C:\project\datapre\.venv\Data Engineering\Data\kaggle_competition\\submission0221_1.csv", header=True, index = False)