# 데이터프레임 합치기

- 겹치는 게 존지 하지 않을 때 : concat으로 합치기
- 그 외 merge 사용

Legt Join만 사용 / Right Join = A, B 변경 Left Join

In [38]:
import pandas as pd

## pd.merge()

In [39]:
fruit = pd.DataFrame({'Num':[123, 456, 789, 1011, 1112], 'Fruit':['Apple', 'Banana', 'Cherry', 'Lemon', 'Peach']})
grade = pd.DataFrame({'Num':[123, 789, 1314], 'Grade':['A', 'B', 'C']})

print(fruit, '\n')
print(grade)

    Num   Fruit
0   123   Apple
1   456  Banana
2   789  Cherry
3  1011   Lemon
4  1112   Peach

    Num Grade
0   123     A
1   789     B
2  1314     C

### Left Join

In [40]:
pd.merge(fruit, grade, on = 'Num', how = 'left')

    Num   Fruit Grade
0   123   Apple     A
1   456  Banana   NaN
2   789  Cherry     B
3  1011   Lemon   NaN
4  1112   Peach   NaN

In [41]:
pd.merge(grade, fruit, on = 'Num', how = 'left') # A, B 위치 변경 = Right Join

    Num Grade   Fruit
0   123     A   Apple
1   789     B  Cherry
2  1314     C     NaN

### Inner Join

In [42]:
pd.merge(fruit, grade, on = 'Num', how = 'inner')

   Num   Fruit Grade
0  123   Apple     A
1  789  Cherry     B

### Outer Join

In [43]:
pd.merge(fruit, grade, on = 'Num', how = 'outer')

    Num   Fruit Grade
0   123   Apple     A
1   456  Banana   NaN
2   789  Cherry     B
3  1011   Lemon   NaN
4  1112   Peach   NaN
5  1314     NaN     C

## pd.concat()

In [44]:
import pandas as pd

In [45]:
df1 = pd.DataFrame({'a':['a0','a1','a2','a3'],
                    'b':['b0','b1','b2','b3'],
                    'c':['c0','c1','c2','c3']},
                    index = [0,1,2,3])

df2 = pd.DataFrame({'a':['a2','a3','a4','a5'],
                    'b':['b2','b3','b4','b5'],
                    'c':['c2','c3','c4','c5'],
                    'd':['d2','d3','d4','d5']},
                    index = [2,3,4,5])

print(df1, '\n')
print(df2)

    a   b   c
0  a0  b0  c0
1  a1  b1  c1
2  a2  b2  c2
3  a3  b3  c3

    a   b   c   d
2  a2  b2  c2  d2
3  a3  b3  c3  d3
4  a4  b4  c4  d4
5  a5  b5  c5  d5

### 행방향으로 합치기

아래 결과를 보면,     
위 아래 방향으로 합치기 & 하지만 인덱스 값에 중복이 있음

-> reset_index 필수

In [46]:
result1 = pd.concat([df1,df2], axis=0)
result1

    a   b   c    d
0  a0  b0  c0  NaN
1  a1  b1  c1  NaN
2  a2  b2  c2  NaN
3  a3  b3  c3  NaN
2  a2  b2  c2   d2
3  a3  b3  c3   d3
4  a4  b4  c4   d4
5  a5  b5  c5   d5

인덱스 재정의

In [47]:
result2 = pd.concat([df1,df2], axis=0)
result2.reset_index(inplace=True)

inner join

In [48]:
result3 = pd.concat([df1,df2], ignore_index=True, join='inner')
result3

    a   b   c
0  a0  b0  c0
1  a1  b1  c1
2  a2  b2  c2
3  a3  b3  c3
4  a2  b2  c2
5  a3  b3  c3
6  a4  b4  c4
7  a5  b5  c5

### 열방향으로 합치기

In [49]:
result4=pd.concat([df1, df2], axis=1)
result4

     a    b    c    a    b    c    d
0   a0   b0   c0  NaN  NaN  NaN  NaN
1   a1   b1   c1  NaN  NaN  NaN  NaN
2   a2   b2   c2   a2   b2   c2   d2
3   a3   b3   c3   a3   b3   c3   d3
4  NaN  NaN  NaN   a4   b4   c4   d4
5  NaN  NaN  NaN   a5   b5   c5   d5

inner join

In [50]:
result5=pd.concat([df1, df2], axis=1, join='inner')
result5

    a   b   c   a   b   c   d
2  a2  b2  c2  a2  b2  c2  d2
3  a3  b3  c3  a3  b3  c3  d3

인덱스 재정의

In [51]:
result5.reset_index(inplace=True)
result5

   index   a   b   c   a   b   c   d
0      2  a2  b2  c2  a2  b2  c2  d2
1      3  a3  b3  c3  a3  b3  c3  d3

### 시리즈와 합치기

In [52]:
sr1=pd.Series(['e0','e1','e2','e3'], name='e')
sr1

0    e0
1    e1
2    e2
3    e3
Name: e, dtype: object

In [53]:
result6=pd.concat([df1, sr1], axis=1)
result6

    a   b   c   e
0  a0  b0  c0  e0
1  a1  b1  c1  e1
2  a2  b2  c2  e2
3  a3  b3  c3  e3